@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body,
  #root {
    @apply h-full;
  }
}

.ant-modal-body {
  padding-top: 16px;
}

.ant-pro-layout .ant-layout-header.ant-pro-layout-header {
  backdrop-filter: blur(0);
}

.header {
  transition: background-color 1s ease;
  background-color: #59a5be;
}
